{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <div>
        <h2>Listing: {{ listing.product.title }}</h2>
        {% if listing.status == 'Closed' %}
            <p class="text-danger">
                The auction has been closed for the listing you wish to display.
            </p>
        {% endif %}
        <div class="form-group">
            {% if on_watchlist %}
                <form action="{% url 'watchlist_remove' listing.id %}">
                    <button type="submit" class="btn">
                        <span class="badge badge-secondary">Watchlist</span>
                    </button>
                </form>
            {% else %}
                <form action="{% url 'watchlist_add' listing.id %}">
                    <button type="submit" class="btn">
                        <span class="badge badge-primary">Watchlist</span>
                    </button>
                </form>
            {% endif %}
        </div>

        {% if  listing.product.url  %}
            <img src="{{ listing.product.url }}" alt="{{ listing.product.title }}" width="300" height="300">
        {% else %}
            <p class="mb-4"></p>
        {% endif %}

        <p>{{ listing.product.description }}</p>

        {% if listing.status == 'Active' %}
            <h2>${{ listing.price }}</h2>
            <small id="bidHelp" class="form-text">{{ listing.number_of_bids }} bid(s) so far.
                {% if listing.winner == request.user %}
                    Your bid is the current bid.
                {% endif %}
            </small>

            <form action="{% url 'bid' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" id="bid" name="bid" step=".01" min="{{ listing.price|add:0.01 }}" max="9999999.99" class="form-control form-control-sm" aria-describedby="bidHelp" placeholder="Bid">
                </div>
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        {% else %}
            <div>
                <strong>
                    Bidding for this listing has ended.
                    {% if listing.winner == request.user %}
                        You are the winner of this auction.
                    {% endif %}
                </strong>
            </div>
        {% endif %}

    <div class="mt-3">
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.creator }}</li>
            {% if  listing.product.category  %}
                <li>Category: {{ listing.product.category }}</li>
            {% else %}
                <li>Category: No Category Listed</li>
            {% endif %}
        </ul>
    </div>

    </div>

{% if request.user == listing.creator %}
    <form action="{% url 'listing' listing.id %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Close Listing</button>
        </div>
    </form>
{% endif %}

{% endblock %}

