{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <table class="table text-center table-hover">
        <tbody>
            {% for item in watchlist %}
                {% if item.listing.status == 'Closed' %}
                    <tr class="table-danger" style="cursor: pointer; cursor: hand;" onclick="window.location='{% url "listing" item.listing.id %}';">
                {% else %}
                    <tr style="cursor: pointer; cursor: hand;" onclick="window.location='{% url "listing" item.listing.id %}';">
                {% endif %}
                    <td>
                        {% if item.listing.product.url  %}
                            <img class="align-self-center img-fluid" src="{{ item.listing.product.url }}" alt="{{ item.listing.product.title }}" width="100" height="100" style="text-align: center">
                        {% else %}
                            <img class="align-self-center img-fluid mt-3" src="" alt="No photo" width="100" height="100" style="text-align: center">
                        {% endif %}
                    </td>
                    <td>
                        <h4>{{ item.listing.product.title }}</h4>
                        <strong>Price: </strong>${{ item.listing.price }}
                        <div class="text-muted">Created: {{ item.listing.created_at }}</div>
                    </td>
                    <td colspan="2"></td>
                </tr>
            {% empty %}
                There are no items in your watchlist.
            {% endfor %}
        </tbody>
    </table>
{% endblock %}